<div class="home-photo">
  <img src="/images/Gemini_Generated_Image_iu6605iu6605iu66.png" alt="Nelson Dictionary Jesus image">
  <p class="photo-caption"><%= typeof imageCaption !== 'undefined' ? imageCaption : 'Image generated using Google Gemini' %></p>
</div>
