<div class="container">
  <div class="hero-section">
    <h1>Welcome to our Online Dictionary!</h1>
    <p class="subtitle">Look up any word and get detailed definitions, pronunciations, and examples. Utilizes MongoDB and Public Dictionary API. Created by Katy Wouters and Ethan Zhang for CMSC 335 at UMD Fall 2025.</p>
  </div>

  <%- include('partials/search-form') %>

  <%- include('partials/footer-image') %>

</div>
